.graph {
  background-color: white;
}

.info-card {
  width: 20rem;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  z-index: 20;
  border: 4px solid rgba(232, 232, 232, 1);
  border-radius: 0.35rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pan-bar {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 8px;
  border: 4px solid rgba(232, 232, 232, 1);
  border-radius: 0.35rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pan-button {
  box-shadow: none !important;
  margin: 5px;
}

.pan-button:focus {
  background-color: #6c757d;
  border-color: #6c757d;
}

/* .node rect {
    stroke: #333;
    fill: #fff;
} */

/* .node text {
    pointer-events: none;
} */

/* .edgePath path {
    stroke: #333;
    stroke-width: 2px;
    fill: #333;
} */
