.container {
    flex: 1;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'side graph graph graph graph graph'
      'side graph graph graph graph graph'
      'side graph graph graph graph graph'
      'side nav nav nav nav nav';
  }
  
  .sidebar {
    grid-area: side;
    border-right: 1px solid grey;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .graph {
    grid-area: graph;
  }
  
  .navigator {
    border-top: 1px solid grey;
    grid-area: nav;
  }